<div id="particles-js">
  <div class="header">
      <div class="header-icons">
          <a aria-label="Github" target="_blank" href="{{site.github}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
          <a aria-label="Linkedin" target="_blank" href="{{site.linkedin}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
          <a aria-label="Medium" target="_blank" href="{{site.medium}}"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
          <a aria-label="Wordpress" target="_blank" href="{{site.wordpress}}"><i class="icon fa fa-wordpress" aria-hidden="true"></i></a>
          <a aria-label="Stackoverflow" target="_blank" href="{{site.stackoverflow}}"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
          <a aria-label="Twitter" target="_blank" href="{{site.twitter}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          <a aria-label="Write me an email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
      </div>
      <h1>
        <span class="site-title">{{site.username}}</span>
      </h1>
      <div class="typewriter">
          <h1>If you think Math is hard, try Web Design <small>- Backend developer</small></h1>
      </div>
  </div>
</div>
